<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()" [ngStyle]="{'color':categoria.color }">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title [ngStyle]="{'color':categoria.color }"><b>{{ categoria.nombre }}</b></ion-title>
        <ion-buttons slot="end">
            <ion-button [ngStyle]="{'color':categoria.color }">
                <ion-icon slot="icon-only" [name]="categoria.icono"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid [ngStyle]="{'background-color':categoria.color }">
        <ion-row class="contenedor">
            <ion-col>
                <form>
                    <ion-list lines="full" class="ion-padding">

                        <ion-item>
                            <ion-input type="text" (ionChange)="buscar($event)" placeholder="Buscar:" #buscador></ion-input>
                        </ion-item>

                    </ion-list>
                </form>
                <ion-list class="lista">
                    <ion-item *ngFor=" let acti of actividades" [routerLink]="['/main/acciones']" routerLinkActive="router-link-active">
                        <ion-icon slot="start" [name]="categoria.icono" [ngStyle]="{'color':categoria.color }"></ion-icon>
                        <ion-label>{{ acti.nombre }}</ion-label>
                    </ion-item>
                    
                    
                </ion-list>
                <ion-list class="lista ion-text-center " *ngIf="actividades.length < 1">
                    <h3> Crear {{ categoria.nombre}}</h3>
                    <ion-button  color="primary" mode="ios" expand="block">Crear</ion-button>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>