<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()" [ngStyle]="{'color':categoria.color }">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title [ngStyle]="{'color':categoria.color }"><b>{{ categoria.nombre }}</b></ion-title>
        <ion-buttons slot="end">
            <ion-button [ngStyle]="{'color':categoria.color }">
                <ion-icon slot="icon-only" [name]="categoria.icono"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid [ngStyle]="{'background-color':categoria.color }">
        <ion-row class="contenedor">
            <ion-col>
                <form>
                    <ion-list lines="full" class="ion-padding">
                        <ion-item>
                            <ion-icon name="search" slot="start"></ion-icon>
                            <ion-input type="text" (ionChange)="buscar($event)" placeholder="Buscar:" #buscador></ion-input>
                        </ion-item>
                    </ion-list>
                </form>
                <ion-list class="lista2" *ngIf="actividades.length > 0">
                    <ion-item *ngFor=" let acti of actividades" (click)="irAccion( acti )">
                        <ion-avatar *ngFor=" let par of acti.participantes" slot="start">
                            <app-equipo class="cor" [id]="par" [estilo]="'img'"></app-equipo>
                        </ion-avatar>
                        <ion-label>{{ acti.nombre }}</ion-label>
                    </ion-item>
                </ion-list>

                <ion-list class="lista ion-text-center" *ngIf="actividades.length < 1">
                    <form (ngSubmit)="enviar( fActividad )" #fActividad="ngForm">
                        <h3> Crear {{ categoria.nombre }}</h3>
                        <ion-item>
                            <ion-icon name="bookmark" slot="start"></ion-icon>
                            <ion-input type="text" [(ngModel)]="newActividad.nombre" name="nombre" placeholder="Nombre:" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="list-box" slot="start"></ion-icon>
                            <ion-textarea placeholder="Explicación del juego o sanción" [(ngModel)]="newActividad.observaciones" name="observaciones" required></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-icon *ngIf=" categoria.valor === 'positivo' " name="arrow-round-up" slot="start"></ion-icon>
                            <ion-icon *ngIf=" categoria.valor === 'negativo' " name="arrow-round-down" slot="start"></ion-icon>
                            <ion-input type="number" placeholder="Puntos:" [(ngModel)]="newActividad.puntos" name="puntos" required></ion-input>
                        </ion-item>
                        <h4 class="ion-text-center">Participantes</h4>
                        <ion-row>
                            <ion-col *ngFor="let equipo of datos.equipos; index as i">

                                <ion-row *ngIf="newActividad.posEquipo.indexOf(i) >= 0" [ngStyle]="{ 'background': equipo.color }" class="equipo" (click)="selectEquipo(i, equipo._id)">
                                    <img class="active" [src]="equipo.logo">
                                </ion-row>
                                <ion-row *ngIf="newActividad.posEquipo.indexOf(i) === -1" [ngStyle]="{ 'background': equipo.color }" class="equipo" (click)="selectEquipo(i, equipo._id)">
                                    <img [src]="equipo.logo">
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        <ion-button type="submit" color="primary" mode="ios" expand="block" class="enviar">Crear</ion-button>
                    </form>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>