ion-tab-bar.tabs {
    position: absolute;
    bottom: -1px;
    width: 101%;
    border: none;
    ion-tab-button {
        --background: transparent;
    }
    // --background: rgba(51, 60, 78, 0.95);
    --background: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}