<ion-content class="ion-text-center">

    <ion-grid *ngIf="categoria" [ngStyle]="{'background-color':categoria.color }">

        <ion-row>
            <h2>{{ nombre }}</h2>
            <p> {{ actividad.observaciones }} </p>
            <h1> {{ categoria.signo }} {{ actividad.puntos }} </h1>
        </ion-row>
        <ion-row class="obs">
            <ion-col>
                <ion-item>
                    <ion-icon name="bookmark" slot="start"></ion-icon>
                    <ion-input type="text" name="nom" placeholder="Nombre:" [(ngModel)]="newAccion.titulo" #nom></ion-input>
                </ion-item>
                <ion-item>
                    <ion-icon name="chatboxes" slot="start"></ion-icon>
                    <ion-textarea [(ngModel)]="newAccion.observacion" placeholder="Observación del juego o sanción" name="observaciones" required></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="actividad.participantes.length === 4">
            <ion-col size="6" *ngFor=" let id of actividad.participantes">
                <app-equipo (click)="selectEquipo(id)" [id]="id" [estilo]="'contenedor-activo'"></app-equipo>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="actividad.participantes.length !== 4">
            <ion-col *ngFor=" let id of actividad.participantes">
                <app-equipo (click)="selectEquipo(id)" [id]="id" [estilo]="'contenedor-activo'"></app-equipo>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>