
h1, p{
    width: 100%;
    padding: 5px 10px;
    margin:0px;

}
.puntos{
    font-size: 100px;
    font-weight: bold;
    line-height: 85px;
    letter-spacing: -5px;
    margin:0px 0px 10px 0px;
    padding:0px;
}

.pos{
    color: #5bd33d;
}

.neg{
    color: #dd3131;
}

ion-col p{
    margin:.45em 0px;
}