<ion-menu side="end" contentId="main">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>{{st.staff.nombre }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-menu-toggle>
            <ion-list>
                <ion-item [routerLink]="['/main/acciones']" routerDirection="forward">
                    <ion-icon name="flash" slot="start"></ion-icon>
                    <ion-label>Acciones</ion-label>
                </ion-item>
                <ion-item [routerLink]="['/main/eventos']" routerDirection="forward">
                    <ion-icon name="timer" slot="start"></ion-icon>
                    <ion-label>Registro</ion-label>
                </ion-item>
                <ion-item [routerLink]="['/main/datos']" routerDirection="forward">
                    <ion-icon name="analytics" slot="start"></ion-icon>
                    <ion-label>Datos</ion-label>
                </ion-item>
                <ion-item (click)="sincronizar()">
                    <ion-icon name="sync" slot="start"></ion-icon>
                    <ion-label>Sincronizar</ion-label>
                </ion-item>
            </ion-list>
        </ion-menu-toggle>
        <ion-list class="cerrar">
            <ion-item (click)="cerrarSesion()">
                <ion-icon name="exit" slot="start"></ion-icon>
                <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>